html,
body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}

#map svg {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#map svg circle {
    pointer-events: auto;
}



header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    margin-left: auto;
}

#anyTime {
    color: gray;
}

#anyTime,
#timeDisplay {
    display: block;
}

circle {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
    );
    fill: var(--color);
}




.legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: #333;
}

#more-departures::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: steelblue;
}

#balanced::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: color-mix(
    in oklch,
    steelblue calc(100% * 0.5),
    darkorange
    );;
}

#more-arrivals::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: darkorange;
}